@font-face {
  font-family: "Raleway-Black";
  font-style: normal;
  font-weight: 400;
  src: url("../../../public/fonts/Raleway-ExtraLight.ttf") format("truetype");
}

.project {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 25vh;
  overflow: hidden;
  border-bottom: 2px solid #151717;
  transition: height 0.3s ease;
  /* Apply transition to height */
}

.project:hover {
  height: 50vh;
}

.content {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
}

.number {
  font-family: 'Raleway-Black', sans-serif;
  font-size: 2rem;
  margin: 0 2rem;
}

.logo {
  margin-left: 2rem;
}