@font-face {
  font-family: "Raleway-ExtraLight";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Raleway-Regular.ttf") format("truetype");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* if device has touch screen */
@media (any-pointer: coarse) {
}

/* if device has no touch screen */
@media (any-pointer: fine) {
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    animation: fadeIn 4s ease forwards;
  }

  .navbarList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3rem;
    flex-direction: row;
  }

  .navbarItem {
    margin: 10px 0;
  }

  .navbarLink {
    font-family: "Raleway-ExtraLight", sans-serif;
    font-size: 2rem;
    text-size-adjust: auto;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  .navbarLink:hover {
    font-family: "Raleway-Regular", sans-serif;
    color: black;
    text-decoration: none;
  }

  .navbarLink:visited {
    font-family: "Raleway-Regular", sans-serif;
    color: black;
    text-decoration: none;
  }

  .navbarLink:focus {
    font-family: "Raleway-Regular", sans-serif;
    color: black;
    text-decoration: none;
  }

  .blog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 3rem;
  }

  .blogArrow {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 3rem;
  }

  .blogLink {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 3rem;
    right: 0;
    text-size-adjust: auto;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    color: black;
  }
}
