.intro {
  color: var(--light-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;
}

.Typist {
  color: var(--light-cyan);
  text-align: center;
  font-size: 76px;
  margin-top: 50px;
}
.Typist .Cursor--blinking {
  color: var(--green-bright);
  padding-left: 4px;
}

.arrow-down {
  transform: scale(1.8);
  padding-top: 5%;
}

.arrow {

}

