@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (any-pointer: coarse) {
  /* do your own styles */
  .intro-about {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-size-adjust: auto;
    margin-left: 2rem;
    max-width: 80vw;
    animation: fadeIn 4s ease forwards;
  }
}

/* if device has no touch screen */
@media (any-pointer: fine) {
  /* do your own styles */
  .intro-about {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    text-size-adjust: auto;
    margin-left: 2rem;
    max-width: 50vw;
    animation: fadeIn 4s ease forwards;
  }
}
