@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-about {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  margin-left: 2rem;
  max-width: 50vw;
  animation: fadeIn 4s ease forwards;
}
