.loading-screen {
  /* Create a grid of logos that fills the screen */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 1s ease-in-out;
}

.loading-screen.fading {
  opacity: 0;
}

.loading-screen__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 5s ease forwards;
}

.loading-screen__logo--white {
  filter: brightness(100);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
